:root {
    --background-color: #faf4ed;
    --text-color: #575279;
    --header-color: #b4637a;
    --accent-color: #9893a5;

}
 
 #outer {
     background-color: var(--background-color);
 }

 .listbox .index {
     background: var(--background-color);
 }

 #header .primary,
 #footer,
 .autocomplete .dropdown ul li:hover,
 .autocomplete .dropdown li.selected,
 a.tag:hover,
 .listbox .heading a.tag:visited:hover,
 .splash .favorite li:nth-of-type(2n+1) a:hover,
 .splash .favorite li:nth-of-type(2n+1) a:focus,
 #tos_prompt .heading {
     background-image: none;
     background-color: var(--header-color);
 }

 h2,
 a,
 a:link,
 a:visited,
 a:hover,
 #header a,
 #header a:visited,
 #header .primary .open a,
 #header .primary .dropdown:hover a,
 #header .primary .dropdown a:focus,
 #header .primary .menu a,
 #dashboard a,
 #dashboard span,
 a.tag,
 .listbox>.heading,
 .listbox .heading a:visited,
 .filters dt a:hover {
     color: var(--text-color);
 }

 #dashboard,
 #dashboard.own {
     border-color: var(--header-color);
 }

 #dashboard a:hover,
 #dashboard .current,
 li.relationships a {
     background: var(--accent-color);
 }

 table,
 thead td,
 #header .actions a:hover,
 #header .actions a:focus,
 #header .dropdown:hover a,
 #header .open a,
 #header .menu,
 #small_login,
 fieldset,
 form dl,
 fieldset dl dl,
 fieldset fieldset fieldset,
 fieldset fieldset dl dl,
 .ui-sortable li,
 .ui-sortable li:hover,
 dd.hideme,
 form blockquote.userstuff,
 dl.index dd,
 .statistics .index li:nth-of-type(2n),
 .listbox,
 fieldset fieldset.listbox,
 .item dl.visibility,
 .reading h4.viewed,
 .comment h4.byline,
 .splash .favorite li:nth-of-type(2n+1) a,
 .splash .module div.account,
 .search [role="tooltip"] {
     background: var(--accent-color);
     border-color: var(--accent-color);
 }

 #header .heading a,
 #header .user a:hover,
 #header .user a:focus,
 #dashboard a:hover,
 .actions a:hover,
 .actions button:hover,
 .actions input:hover,
 .actions a:focus,
 .actions button:focus,
 .actions input:focus,
 label.action:hover,
 .action:hover,
 .action:focus,
 a.cloud1,
 a.cloud2,
 a.cloud3,
 a.cloud4,
 a.cloud5,
 a.cloud6,
 a.cloud7,
 a.cloud8,
 a.work,
 .blurb h4 a:link,
 .splash .module h3,
 .splash .browse li a::before {
     color: var(--header-color);
 }

 body,
 .toggled form,
 .dynamic form,
 .secondary,
 .dropdown,
 #header .search,
 form dd.required,
 .post .required .warnings,
 dd.required,
 .required .autocomplete,
 span.series .divider,
 .filters .expander,
 .userstuff h2 {
     color: var(--text-color);
 }


 li.blurb,
 fieldset,
 form dl,
 thead,
 tfoot,
 tfoot td,
 th,
 tr:hover,
 col.name,
 #dashboard ul,
 .toggled form,
 .dynamic form,
 form.verbose legend,
 .verbose form legend,
 .secondary,
 .work.navigation .download,
 .javascript .work.navigation .download .secondary,
 dl.meta,
 .bookmark .user,
 div.comment,
 li.comment,
 .comment div.icon,
 .splash .news li,
 .userstuff blockquote {
     border-color: var(--accent-color);
 }


 body,
 .toggled form,
 .dynamic form,
 .secondary,
 .dropdown,
 th,
 tr:hover,
 col.name,
 div.dynamic,
 fieldset fieldset,
 fieldset dl dl,
 form blockquote.userstuff,
 form.verbose legend,
 .verbose form legend,
 #modal,
 .work.navigation .download,
 .javascript .work.navigation .download .secondary,
 .own,
 .draft,
 .draft .wrapper,
 .unread,
 .child,
 .unwrangled,
 .unreviewed,
 .thread .even,
 .listbox .index,
 .nomination dt,
 #tos_prompt {
     background: var(--background-color);
 }

 form dt,
 .filters .group dt.bookmarker,
 .faq .categories h3,
 .splash .module h3,
 .userstuff h3 {
     border-color: var(--text-color);
 }


 .logo.logo


 